.article {
  width: 1200px;
  margin: 100px auto 0;
  background: #fff;
}

.title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.content {
  color: #666;
  font-size: 16px;
}

.cover {
  margin: 30px 0;
}